<template>
  <template if:true={isLoaded}>
    <template if:true={isRunning}>
      <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <div class="slds-box">
      <lightning-layout horizontal-align="center" vertical-align="stretch" multiple-rows="false">
        <lightning-layout-item size="6">
          <template if:true={accountHasExpressDecision}>
            <div class="slds-p-bottom_xx-small">
              <span class="continuous-rating-label">Express Credit Decision:&nbsp;</span>
              <span class="continuous-rating-value">{accountRatings.expressDecision.recommendation}</span>
            </div>
            <lightning-button name="cancelExpressDecision" label="Cancel Express Decision" onclick={handleCancelRatingClick}>
            </lightning-button>
          </template>
          <template if:false={accountHasExpressDecision}>
            <div class="slds-p-bottom_small">
              <span class="continuous-rating-label">Express Credit Decision:&nbsp;</span>
              <span class="continuous-rating-value ">None</span>
            </div>
            <lightning-button name="expressDecision" label="Get Express Credit Decision" onclick={handleGetExpressDecisionClick}>
            </lightning-button>
          </template></lightning-layout-item>
        <lightning-layout-item size="6">
          <template if:false={accountHasCreditLimit}>
            <div class="slds-p-bottom_xx-small">
              <span class="continuous-rating-label">Credit Limit:&nbsp;</span>
              <span class="continuous-rating-value">None</span>
            </div>
          </template>
          <template if:true={accountHasCreditLimit}>
            <div class="credit-limit-box slds-m-left_medium">
              Credit Limit Status:&nbsp;
              <span class="continuous-rating-value">{accountRatings.creditLimitStatus}</span><br />
              Credit Limit:&nbsp;
              <span class="continuous-rating-value">{accountRatings.creditLimit}</span><br />
              Credit Limit End Date:&nbsp;
              <span class="continuous-rating-value">{accountRatings.creditLimitEndDate}</span><br />
            </div>
          </template>
        </lightning-layout-item>
      </lightning-layout>
    </div>
    <!-- Continuous Credit Decision-->
    <div class="slds-box slds-m-top_small">
      <lightning-layout horizontal-align="center" vertical-align="stretch" multiple-rows="false">
        <lightning-layout-item size="6">
          <template if:true={accountHasContinuousDecision}>
            <div class="slds-p-bottom_small">
              Continuous Credit
              Decision:{accountRatings.continuousDecision.ratingStatus}
            </div>
            <lightning-button name="continuousDecision" label="Cancel Continuous Decision" onclick={handleCancelRatingClick}>
            </lightning-button>
          </template>
          <template if:false={accountHasRating}>
            <div class="slds-p-bottom_xx-small">
              <span class="continuous-rating-label">Continuous Decision:&nbsp;</span>
              <span class="continuous-rating-value">None</span>
            </div>
            <lightning-button name="continuousDecision" label="Get Continuous Credit Decision" onclick={openLimitModal}>
            </lightning-button>
          </template></lightning-layout-item>
        <lightning-layout-item size="6">
          <template if:false={accountHasCreditLimit}>
            <div class="slds-p-bottom_xx-small">
              <span class="continuous-rating-label">Credit Limit:</span>&nbsp;
              <span class="continuous-rating-value">None</span>
            </div>
          </template>
          <template if:true={accountHasCreditLimit}>
            <div class="credit-limit-box slds-m-left_small">
              Credit Limit Status:&nbsp;
              <span class="continuous-rating-value">{accountRatings.creditLimitStatus}</span><br />
              Credit Limit:&nbsp;
              <span class="continuous-rating-value">{accountRatings.creditLimit}</span><br />
              Credit Limit End Date:&nbsp;
              <span class="continuous-rating-value">{accountRatings.creditLimitEndDate}</span><br />
            </div>
          </template>
        </lightning-layout-item>
      </lightning-layout>
    </div>
  </template>
  <template if:true={openmodal}>
    <div class="slds-box">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
              <lightning-icon icon-name="utility:close" size="medium">
              </lightning-icon>
              <span class="slds-assistive-text">Close</span>
            </button>
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
              Request Continuous Credit Decision
            </h2>
          </header>
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <center>
              <lightning-input type="number" data-field="limit" required min="1" max="99999999" label="Requested Credit Limit (1 - 99999999)" tabindex="0"></lightning-input>
            </center>
          </div>
          <footer class="slds-modal__footer">
            <lightning-button label="Cancel" variant="neutral" onclick={closeModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
            <lightning-button label="Request" variant="brand" onclick={saveMethod}></lightning-button>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
  </template>
</template>
