.continuous-rating-label {
  font-size: medium;
  color: rgb(73, 73, 73);
}

.continuous-rating-value {
  font-size: small;
  color: black;
  font-weight: bold;
}

.credit-limit-box {
  line-height: 1.9em;
}