.continuous-rating-label {
  font-size: medium;
  color: rgb(73, 73, 73);
}

.continuous-rating-value {
  font-size: small;
  color: black;
  font-weight: bold;
}

.credit-limit-box {
  background-color: #ffffff;
}

.continuous-rating-box {
  background-color: #f3f2f7;
}

.container-box {
  border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
  border: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, rgb(221, 219, 218));
  line-height: 1.9em;
  padding: 0.7em;
  min-height: 100%;
}

.component-box {
  min-height: fit-content;
  min-width: fit-content;
}