<template>
  <template if:true={isLoaded}>
    <template if:true={isRunning}>
      <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <lightning-layout horizontal-align="center" vertical-align="stretch" multiple-rows="false" class="component-box">
      <lightning-layout-item size="6" class="container-box continuous-rating-box">
        <span class="continuous-rating-label slds-p-bottom_xx-small">Continuous Rating:&nbsp;</span>
        <template if:true={accountHasRating}>
          <span class="continuous-rating-value slds-p-bottom_xx-small"><b>{accountRatings.continuousRating.ratingStatus}</b></span><br />
          <span>Credit Limit:&nbsp;{label.creditLimitAmount}</span><br />
          <span>Start Date:&nbsp;{accountRatings.continuousRating.startDate}</span><br />
          <template if:true={CancelAllowed}>
            <div class="slds-p-top_x-small">
              <lightning-button name="continuousRating" label="Cancel Continuous Rating" onclick={handleCancelRatingClick}> </lightning-button><br />
            </div>
          </template>
        </template>
        <template if:false={accountHasRating}>
          <span class="continuous-rating-value slds-p-bottom_xx-small">None</span>
          <span>Credit Limit:&nbsp;{label.creditLimitAmount}</span><br />
          <div class="slds-p-top_x-small">
            <lightning-button name="continuousRating" label="Get Continuous Rating" onclick={handleGetRatingClick}> </lightning-button><br />
          </div>
        </template>
      </lightning-layout-item>
      <lightning-layout-item size="6">
        <template if:false={accountHasCreditLimit}>
          <div class="container-box credit-limit-box slds-m-left_medium">
            <span class="continuous-rating-label">Credit Limit:</span>&nbsp;
            <span class="continuous-rating-value">None</span>
          </div>
        </template>
        <template if:true={accountHasCreditLimit}>
          <div class="container-box credit-limit-box slds-m-left_medium">
            Type:&nbsp;<b>Credit Limit</b><br />
            Credit Limit Status:&nbsp;
            <span class="continuous-rating-value">{accountRatings.creditLimitStatus}</span><br />
            Credit Limit:&nbsp;
            <span class="continuous-rating-value">{accountRatings.creditLimit}</span><br />
            Credit Limit Start Date:&nbsp;
            <span class="continuous-rating-value">{accountRatings.creditLimitStartDate}</span><br />
            Credit Limit End Date:&nbsp;
            <span class="continuous-rating-value">{creditLimitEndDate}</span><br />
          </div>
        </template>
      </lightning-layout-item>
    </lightning-layout>
  </template>
</template>
