<apex:page StandardController="Opportunity" lightningStylesheets="True">
<apex:form >
    <apex:pageBlock title="Cross-selling reference" mode="edit">
        <apex:pageblockSection columns="1">
            <apex:OutputField value="{!Opportunity.Name}" label="Opportunity Name"/> <br/>
            <apex:inputField value="{!Opportunity.OwnerId}" label="New Owner" required="true"/> <br/>
            <apex:inputField value="{!Opportunity.Toimiala__c}" label="New Industry" required="true" styleClass="detail"/> <br/>
            <apex:inputField value="{!Opportunity.Referred_by__c}" label="Referred by" required="true"/> <br/>
        </apex:pageBlockSection>
       <apex:pageBlockButtons location="top" >
        <apex:commandButton value="Save" action="{!Save}"/>
        <apex:commandButton value="Cancel" action="{!Cancel}"/>
        </apex:pageBlockButtons>
    </apex:pageBlock>
</apex:form>
</apex:page>